.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 60px;
    background-color: white;
    width: 80px;
    z-index: 101 ;
    
}
.sidebar img {
    height: 35px;
    margin-bottom: 4px;
}

.sidebar-link{
    background-color: white;
    height: 100px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}

.sidebar-link:hover{
    background-color: rgb(241, 240, 240);
}
